/* Add some global styles here! */

:root {
  --red: rgb(208, 67, 12);
  --base-bg: #f1f3f5;
}

button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: var(--red);
}

a.button {
  color: white;
  background-color: #886750;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

@font-face {
  font-family: "HappyChicken";
  src: url('./HappyChicken.otf');
}

@font-face {
  font-family: "Stanberry";
  src: url('./Stanberry.ttf');
}

h1, h2, h3 {
  font-family: "HappyChicken";
}

a, p {
  font-family: "Stanberry";
}

.brown-btn {
  background-color: #886750;
  color: white;
}